.container {
    padding: 0;
    margin: 1em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.list {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

hr {
    margin-top: 0;
    border-top-color: black;
}

.container-fluid {
    padding: 2em;
}