<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solanav's Status</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
    <script src="{{url_for('static', filename='main.js')}}" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Timer</th>
            <th>State</th>
        </tr>
        {% for s in scripts %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.timer }}</td>
                <td id='{{ s.name }}'>{{ s.status }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>